* {
  box-sizing: border-box;
}


.App {
  /* max-height: 100vh; */
  /* font-family: 'Courier New', Courier, monospace; */
}




html,
body {
  background: black;
  color: #00b800;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  /* height: 100vh; */
}

body {
  font-weight: 400;
}

button {
  /* font-family: 'Press Start 2P', cursive; */
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #00b800;
  text-transform: uppercase;
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  font-family: inherit;
  /* background-color: #970f0f; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
}

button:hover {
  background: #00b800;
}

/* h1 {
  font-size: 20px;
  text-align: center;
} */

input {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid black;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  /* outline: none; */
  height: 200px;
  background: #00b800;
  padding: 20px;
  padding-left: 30px;
  resize: none;
  border-radius: 15px;
}

span {
  background-color: #00b800;
  color: blue;
  padding: 4px;
  font-size: 2rem;
  border-radius: 50%;
}

.btn-hover-red:hover {
  background-color: crimson;
}